.DS_Store
*.

.maintenance

wp-activate.php
wp-blog-header.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-comments-post.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/index.php
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/plugins/index.php
wp-content/plugins/h5p
wp-content/plugins/sitepress-multilingual-cms
wp-content/plugins/wpml-string-translation
wp-content/plugins/wpml-translation-management
wp-content/languages
wp-content/themes
wp-content/wp-cache-config.php

wp-admin/

wp-includes/

/.htaccess
/index.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/xmlrpc.php

*.zip

